@import "../../variables.scss";

.grain {
  filter: contrast(100%) brightness(100%);
  background: url("/SVG/grain.svg"),
    radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  // background-clip: text;
  // -webkittext-fill-color: transparent;
}
.overlay {
  // background: rgb(139, 131, 129);
  mix-blend-mode: multiply;
}

.isolate {
  isolation: isolate;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  object-fit: cover;
  min-width: 25vw;
  overflow: hidden;
  // height: 100vh;
  // width: 100%;
}

.image {
  padding: 10%;
}

.container {
  position: relative;
  opacity: 1;
}

.container .image {
  // transition: all 0.3s ease;
}

.container:hover {
  .image {
    // transform: scale(1.1);
    opacity: 0;
    // transition: all 0.3s ease;
  }

  .dropContent {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.dropContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: opacity 0.3s ease;
  // display: none;
  // transform: scaleX(1);
  font-size: clamp(3rem, 10vw, 5rem);
  color: $secondary-text-colour;
  // background-color: green;
}

@keyframes growRight {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  // 80% {
  //   opacity: 0.5;
  //   transform: scaleX(0.8);
  // }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
