@import "../../variables.scss";

$debug: false;

.main {
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  // width: clamp(20rem, 100svw, 50rem);
}

.grain {
  filter: contrast(100%) brightness(100%);
  background: url("/SVG/grain.svg"),
    radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  // background-clip: text;
  // -webkittext-fill-color: transparent;
}
.overlay {
  // background: rgb(139, 131, 129);
  mix-blend-mode: multiply;
}

.isolate {
  isolation: isolate;
}

.column {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  // background-color: blueviolet;
}

.image {
  position: absolute;
  left: 50%;
  transform: rotate(calc((360deg / 5) * var(--i)));

  transform-origin: 0rem 17.5rem;

  @media (max-width: 35rem) {
    transform-origin: 0vw 45vw;
    // width: 45vw;
    // height: 45vw;
  }

  @if $debug {
    border: 1px solid yellow;
  }
}

.imageBox {
  width: 100%;

  position: inherit;
  // // width: 5vw;
  // // height: 5vw;

  // display: flex;
  // // justify-content: center;
  // // align-items: center;

  // position: relative;
  // transform: rotate(calc((-360deg / 5) * var(--i)));
  // border: 1px solid red;

  // transform-origin: 50% 100%;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // aspect-ratio: 1;
  height: 35rem;
  width: 35rem;

  @media (max-width: 35rem) {
    width: 90vw;
    height: 90vw;
  }

  @if $debug {
    // background-color: blue;
    border: 1rem solid blue;
    border-radius: 50%;
  }
}
.container {
  position: absolute;
  // // left: calc(50% - 500px);
  // left: -72.5%;
  width: 100%;
  height: 100%;

  margin: 0;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  @if $debug {
    border: 1px solid aquamarine;
  }
}

.container .image {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.container:hover {
  .image {
    // transform: scale(1.1);
    opacity: 0;
    // transition: all 0.3s ease;
  }

  .dropContent {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.dropContent {
  opacity: 0;
  transition: opacity 0.3s ease;
  // display: none;
  // transform: scaleX(1);
  font-size: clamp(3rem, 10vw, 5rem);
  color: $secondary-text-colour;
  // background-color: green;
}

@keyframes growRight {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  // 80% {
  //   opacity: 0.5;
  //   transform: scaleX(0.8);
  // }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
