@import "../../variables.scss";

$debug: false;

.main {
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.grain {
  filter: contrast(100%) brightness(100%);
  background: url("/SVG/grain.svg"),
    radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  // background-clip: text;
  // -webkittext-fill-color: transparent;
}
.overlay {
  // background: rgb(139, 131, 129);
  mix-blend-mode: multiply;
}

.isolate {
  isolation: isolate;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  // background-color: blueviolet;
}

.image {
  // pointer-events: all;

  // position: absolute;
  // left: 50%;
  // transform: rotate(calc((360deg / 5) * var(--i)));

  // transform-origin: 0rem 17.5rem;

  @media (max-width: 330px) {
    // Set the breakpoint
    width: 70%; // Change the size of the images
    height: auto;
  }

  @if $debug {
    border: 1px solid yellow;
  }
}

.imageBox {
  //for rotating the images back the right way, put as parent of image

  // pointer-events: all;

  // position: relative;
  // transform: rotate(calc((-360deg / 5) * var(--i)));
  // transform-origin: 17.5rem 35rem;
  @if $debug {
    border: 1px solid gold;
  }
}

.square {
  position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  // aspect-ratio: 1;
  height: 65svw;
  width: 65svw;

  max-width: 600px;
  max-height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  // min-width: 300px;

  @if $debug {
    // background-color: blue;
    border: 1px solid blue;
    border-radius: 50%;
  }
}
.container {
  position: absolute;
  left: 0;
  // // // left: calc(50% - 500px);
  // // left: -72.5%;
  // // height: 100%;

  // margin: 0;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // pointer-events: none;

  @if $debug {
    border: 1px solid aquamarine;
  }
}

// .image:hover {
//   // transform: scale(1.1);
//   opacity: 0;
//   // transition: all 0.3s ease;
// }

.dropContent:hover {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropContent {
  opacity: 0;
  transition: opacity 0.3s ease;
  // display: none;
  // transform: scaleX(1);
  font-size: clamp(3rem, 10vw, 5rem);
  color: $secondary-text-colour;
  // background-color: green;
}

@keyframes growRight {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  // 80% {
  //   opacity: 0.5;
  //   transform: scaleX(0.8);
  // }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
