$debug: false;
@import "../variables.scss";

.main {
  overflow: show;
  // min-width: 310px;
  // min-height: 980px;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: white;
}

.top {
  flex-grow: 1;
  height: 100%;
  width: 100%;

  @if $debug {
    background-color: blue;
  }
}

.bottom {
  flex-grow: 1;
  height: 100%;
  width: 100%;

  @if $debug {
    background-color: yellow;
  }
}

.postContainer {
  // @extend .snap;

  // width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  // height: 100svh;
  overflow: auto;
  overflow-y: hidden;

  scrollbar-color: transparent;
}

.postCard {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  height: 100%;
  // width: 100%;
  // height: 100%;

  background-color: white;
  // padding-left: 5vw;
  // padding-right: 5vw;
}

.hideScroll {
  position: absolute;
  bottom: 5px;
  // width: 100%;
  background-color: black;
}

.snap {
  scroll-snap-type: inline mandatory;
  // scroll-padding-inline: 1rem;
}

.snap > * {
  scroll-snap-align: start;
}
