@import "../variables.scss";

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  width: 100%;
  height: 100%;
  padding: 5%;
  min-width: 25rem;

  // overflow: hidden;
}

.cameraContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}

.writingContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  pointer-events: all;
}

.camera_enter_active {
  transform: translateX(0%);
}
.camera_enter {
  transform: translateX(50%);
  transition: all 500ms ease;
}

.camera_exit {
  transform: translateX(0%);
  transition: all 1000ms ease;
}

.camera_exit_active {
  transform: translateX(-150%);
}

.clear {
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade {
  animation: fadeOut 0.5s forwards; // Play the fadeOut animation once
}

.captureContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 8%;
  padding-top: 5.5%;
  padding-right: 26.6%;
  padding-bottom: 7.5%;
  pointer-events: none;
  min-width: 25;
  // width: 64.5%;
  // // height: 64.5%;
  // padding-bottom: 17.7%;

  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.postCaptureContainer {
  background-color: blue;
}

.video {
  position: relative;
  background-color: $black;
  height: 100%;
  z-index: -1;
}

.hidden {
  display: none;
}

.altUpload {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: all;
}

// .altUploadText {
//   z-index: 3;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   font-family: "airbrush, sans-serif";
//   color: $black;
//   font-size: 2.5cqw;
//   margin: 5%;
// }

.videoFeed {
  z-index: 3;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.captureButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}
.static {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.captured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.captureButton {
}

.imageCropper {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: red;
  z-index: -1;
  pointer-events: all;
}

.buttons {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  pointer-events: all;
}

.accept {
  position: absolute;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  margin-left: 82.1%;
  margin-top: 43.5%;
  margin-bottom: 12.5%;
  margin-right: 11%;
  pointer-events: all;
}

.reset {
  position: absolute;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  margin-left: 77.3%;
  margin-top: 30.15%;
  margin-bottom: 25.9%;
  margin-right: 15.9%;
  pointer-events: all;
}

.abort {
  position: absolute;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  margin-left: 77.4%;
  margin-top: 21.1%;
  margin-bottom: 35%;
  margin-right: 15.9%;
  pointer-events: all;
}

.rotSlider {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 77.4%;
  margin-top: 17%;
  margin-bottom: 43.8%;
  margin-right: 3.5%;
}

.uploadBackArrow {
  position: relative;
  margin: 1%;
  top: 0;
  left: 0;
  width: 5%;
  height: 5%;
}

.rotDisplayContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 6%;
  width: 9.5%;
  margin-left: 81%;
  margin-top: 9%;
  margin-bottom: 50.8%;
  margin-right: 10%;

  container-type: inline-size;

  background-color: $bg-colour;
}

.rotValue {
  top: 10%;
  font-family: "lcd", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;
  font-size: 22cqw;
  height: 100%;
}

.category {
  margin: 5%;
}

.textArea {
  border: 1px solid $black;
  border-radius: 5px;
  font-size: 1.5rem;
  resize: none;
  pointer-events: all;
  transition: all 0.2s ease;

  :hover {
    cursor: pointer;
    border: 1px solid $secondary-text-colour;
  }

  font-family: "lcd", sans-serif;
}

.writingArea {
  position: relative;
  // width: fit-content;
  // width: 80vw;
  // height: 5rem;

  // height: 5rem;
}
.writingTextArea {
  @extend .textArea;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.writingCharacterCount {
  position: absolute;
  padding: 5%;
  height: fit-content;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); // Add this line
}

.writingContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  // width: 100%;
  // height: 100%;
  min-width: 25rem;
}

.writingImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid $black;
}

.writingImageBorder {
  position: relative; // Add this line
  max-width: 400px;
  max-height: 400px;
  width: 500px; // Adjust as needed
  height: 500px; // Adjust as needed
}

.writingCategorySelect {
  padding: 2.5%;
}

.writtenBackArrow {
  width: 10%;
  height: 10%;
}

.imageBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.croppedImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.submitButton {
  font-family: "lcd", sans-serif;
  background-color: white;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin: 1%;
  border: 1px solid $black;
  border-radius: 5px;
}

.useCameraButton {
  padding-right: 7.5%;
  font-family: "lcd", sans-serif;
  font-size: 2.5cqw;
  opacity: 50%;
}

.useCameraButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  container-type: inline-size;
}
