@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";

@font-face {
  font-family: "lcd";
  src: url("/fonts/TEXASLED.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  transition: background-color 1s ease-in-out;

  font-size: 16px;
  background-color: $bg-colour;

  --bg-colour: #{$bg-colour};
  --main-text-colour: #{$main-text-colour};
  --black: #{$black};
  --secondary-text-colour: #{$secondary-text-colour};
}

main {
  font-family: "lcd", fallback, sans-serif;
  color: $main-text-colour;
  height: 100vh;
  height: 100svh;
}
