@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";

@font-face {
  font-family: "lcd";
  src: url("/fonts/LEDCalculator.ttf") format("woff2"),
    url("/fonts/LEDCalculator.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "yk";
  src: url("/fonts/yk.ttf") format("woff2"), url("/fonts/yk.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "airbrush";
  src: url("/fonts/airbrush.ttf") format("woff2"),
    url("/fonts/airbrush.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  transition: background-color 1s ease-in-out;

  font-size: 16px;
  background-color: $bg-colour;

  --bg-colour: #{$bg-colour};
  --main-text-colour: #{$main-text-colour};
  --black: #{$black};
  --secondary-text-colour: #{$secondary-text-colour};

  // * {
  -ms-overflow-style: none;
  // }
  ::-webkit-scrollbar {
    display: none;
  }
}

text {
  font-family: "lcd", fallback, sans-serif;
  color: $main-text-colour;
  height: 100vh;
  height: 100svh;
}
