@import "../../variables.scss";

.container {
  position: absolute;
  display: flex;
  justify-content: space-around; // or use 'space-between'
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: $black;
}

.text {
  //   margin: 5%;
}

.camera {
  //   transition: transform 0.3s ease;
  width: 100%;
  height: 100%;

  // background-color: $bg-colour;
}

.search {
  width: 100%;
  height: 100%;
  //   transition: transform 0.3s ease;

  // background-color: $bg-colour;
}

:export {
  white: $bg-colour;
}
